In [9]:
import pandas as pd

In [10]:
for_html = "Weather_Output.csv"

In [11]:
to_df = pd.read_csv(for_html)

In [12]:
to_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,48.20,61,0,16.11,CL,1/30/2021
1,1,Hobart,-42.8794,147.3294,77.00,53,75,13.80,AU,1/30/2021
2,2,Kālol,22.6000,73.4500,59.00,82,0,4.61,IN,1/30/2021
3,3,Asău,46.4333,26.4000,34.00,74,100,1.32,RO,1/30/2021
4,4,Faanui,-16.4833,-151.7500,81.64,64,3,4.07,PF,1/30/2021

In [15]:
for_table = to_df.to_html("for_table_no_index.html", index=False)